---
layout: page
title: About
icon: user
comments: true
permalink: /about/
---
{% assign about = site.data.about %}
{% capture string_with_newlines %}
Hello, I am Wei Bo Chen.

I am a CTF player and web developer.

He is responsible for website development and club lecturer in bamboofox.

Specialized in Ruby on Rails.
{% endcapture %}

<div class="ui clearing basic segment">
  <img class="ui small left floated rounded image" src="{{about.profile}}">
  {{ string_with_newlines | newline_to_br }}
</div>

<h2>Education</h2>
<div class="ui horizontal list">
  {% for education in about.educations %}
  <div class="item">
    <div class="ui tiny rounded image">
      <img src="{{education.logo}}">
    </div>
    <div class="content">
      <a class="header" href="{{education.link}}">
        {{education.name}}
      </a>
      <div class="label">
        <i class="student icon"></i>
        {{education.degree}}
      </div>
      <div class="label">
        <i class="calendar icon"></i>
        {{education.period}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<h2>Organizations</h2>
<div class="ui horizontal list">
  {% for organization in about.organizations %}
  <div class="item">
    <div class="ui tiny rounded image">
      <img src="{{organization.logo}}">
    </div>
    <div class="content">
      <a class="header" href="{{organization.link}}">
        {{organization.name}}
      </a>
      <div class="label">
        <i class="user icon"></i>
        {{organization.position}}
      </div>
      <div class="label">
        <i class="calendar icon"></i>
        {{organization.period}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="ui two column relaxed grid">
  <div class="column">
    <h2>Skills</h2>
    {% for skill in about.skills %}
    <div class="ui indicating progress" data-percent="{{skill.score | times: 10}}">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">{{skill.name}}</div>
    </div>
    {% endfor %}
  </div>
  <div class="column">
    <h2>Programming Languages</h2>
    {% for programming_language in about.programming_languages %}
    <div class="ui indicating progress" data-percent="{{programming_language.score | times: 10}}">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">{{programming_language.name}}</div>
    </div>
    {% endfor %}
  </div>
</div>

<h2>Talks</h2>
<div class="ui horizontal list">
  {% for talk in about.talks %}
  <div class="item">
    <div class="content">
      {{talk.link}}
    </div>
  </div>
  {% endfor %}
</div>
