---
layout: page
title: Works
permalink: /works/
---

<div class="ui cards">
  {% for work in site.data.works %}
  <div class="ui card">
    <div class="ui image">
      <img src="{{work.preview}}">
    </div>
    <div class="content">
      <div class="ui header">{{work.name}}</div>
      <div class="meta">
      {% for tag in work.tags %}
      <a class="ui mini basic label">
        {{tag}}
      </a>
      {% endfor %}
      {% if work.github %}
      <div class="ui items">
        <a class="item" href="{{work.github}}">
          <i class="ui icon github"></i>
          Github
        </a>
      </div>
      {% endif %}
      </div>
      <div class="description">
        {{work.description}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
