<footer class="footer has-background-black-bis">
  <div class="content is-centered has-text-centered">
    <p>
      Theme by
      <a href="https://github.com/bananaappletw/simplicity/">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        simplicity
      </a>
      &copy; 2018 bananaappletw
      <div class="is-divider"></div>
      {% if site.facebook %}
      <a href="{{site.facebook}}">
        <span class="icon">
          <i class="fab fa-facebook"></i>
        </span>
        Facebook
      </a>
      {% endif %}
      {% if site.github %}
      <a href="{{ site.github }}">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        Github
      </a>
      {% endif %}
      {% if site.linkedin%}
      <a href="{{ site.linkedin }}">
        <span class="icon">
          <i class="fab fa-linkedin"></i>
        </span>
        Linkedin
      </a>
      {% endif %}
      {% if site.stack_overflow %}
      <a href="{{ site.stack_overflow }}">
        <span class="icon">
          <i class="fab fa-stack-overflow"></i>
        </span>
        Stack Overflow
      </a>
      {% endif %}
      {% if site.twitter %}
      <a href="{{ site.twitter }}">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
        Twitter
      </a>
      {% endif %}
    </p>
  </div>
</footer>