<header id="header" class="ui inverted menu">
  <div class="left menu">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="item ui image" href="{{ "/" | relative_url }}">
      <img src="/assets/icon_avatar.jpg" alt="Icon avatar" />
    </a>
    {% if page_paths %}
      {% for path in page_paths %}
        {% assign my_page = site.pages | where: "path", path | first %}
        {% if my_page.title %}
          <a class="item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="right menu">
    <a class="item" href="{{ "/feed.xml" | relative_url }}">
      <i class="rss icon"></i>
      Subscribe
    </a>
  </div>
</header>
