<section class="box">
  <h1 class="title">Categories</h1>
  <div class="accordions">
    {% for category in site.categories %}
    <div class="accordion is-active">
      <div class="accordion-header toggle">
        {{ category | first }}
      </div>
      <div class="accordion-body">
        <div class="accordion-content">
          <div class="content">
            {% for posts in category %}
            {% for post in posts %}
            {% if post.url %}
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <div class="item">
              <div class="content">
                <a class="header" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
                <div class="right floated">
                  {{ post.date | date: date_format }}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
