$pagination-current-color: #3d9fe0;
$pagination-background-color: white;
.work-card {
  width: 300px;
  height: 100%;
  .card-image {
    img {
      height: 150px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.talk-card {
  width: 300px;
  height: 100%;
}

.page-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #3d9fe0;
}

.page-banner-content {
  color: white;
}
