$pagination-current-color: $link;
$pagination-background-color: $white;
.work-card {
  width: 300px;
  height: 100%;
  .card-image {
    img {
      height: 150px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.talk-card {
  width: 300px;
  height: 100%;
}

.page-banner {
  background-color: black;
  position: relative;

  &::after {
    content: "";
    display: block;
    padding-top: 20%;
  }

  img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.page-banner-content{
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto
}
