$pagination-current-color: $link;
$pagination-background-color: $white;

html{
  font-family: "Noto Sans TC", sans-serif;
}

.work-card
{
  width: 300px;
  height: 100%;
  .card-image
  {
    img
    {
      height: 150px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.talk-card
{
  width: 300px;
  height: 100%;
}

.banner
{
  background-image: asset_url("banner.jpg");
//  background-image: linear-gradient(to bottom, hsla(0, 0%, 21%,0.6) 0%,hsla(0, 0%, 21%,0.6) 100%), asset_url("banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.profile-image{
  height: 256px;
  border-radius: 50%;
}
