---
layout: page
---
<div class="columns is-centered">
  <div class="column is-three-quarters">
    {% for post in paginator.posts %}
    <article class="box">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <a class="title" href="{{ post.url | relative_url }}">
        {{ post.title | capitalize | escape }}
      </a>
      <div class="meta">
        {{ post.date | date: site.date_format }}
      </div>
      <div class="tags">
        {% for tag in post.tags %}
        <a class="tag" href="{{ tag | tag_url }}">
          {{ tag }}
        </a>
        {% endfor %}
      </div>
      <div class="content">
        {{ post.excerpt}}
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="column is-hidden-mobile">
    {% include sidebar.html %}
  </div>
</div>
{% include paginator.html %}